/*
Assignment3
Author: Tim Wiebe
Student Number: 0772335
Date: September 30, 2025
*/
/*colour guide:
#fbff00 = yellow
#33FF57 = green
#08eff7 = blue
#F1C40F = yellow
*/

body {
    background-color: #9b9b9b; /* grey */
}
h1 {
    font-style : bold;
    font-size: 50px;
    text-align: center;
}  
h2 a {
    color: #fbff00; /* yellow */
    font-size: 30px;
}
h2 b {
    color: #f771c3; /* pink */
    font-size: 30px;
}
h2 c {
    color: #08eff7; /* blue */
    font-size: 30px;
}
h2 ::before {
    content: ">> ";
}
a {
    color: #fbff00; /* yellow */
}
b{
    color: #f771c3; /* pink */
}
c{
    color: #08eff7; /* blue */
}